@import url("https://fonts.googleapis.com/css?family=Lato");

* {
    box-sizing: border-box;
}

body {
    background-color: #f4fcff;
    color: white;
    font-family: 'Lato';
}

header {
    width: 100%;
    background-image: url("../img/top-bg.png");
    background-size: 104%;
    background-position-x: -23px;
    padding-bottom: 1.5em;
    background-repeat: no-repeat;
}

header .wrapper {
    padding-top: 2em;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.content > * {
    color: white;
    display: inline-block;
}

.content .logo {
    flex: .25;
}

.content .menu {
    flex: .55;
    justify-content: flex-end;
    display: flex;
}

.content .menu ul {
    margin: 0px;
}

.content .menu ul li {
    display: inline-block;
}

.content .menu > ul > li > a {
    padding: .25rem 2rem;
    text-decoration: none;
    color: white;
}

.content .menu ul li:last-child a {
    padding-right: 0;
}

.menu .sub-menu li {
    display: inline-block;
    vertical-align: top;
}

.img-wrapper {
    background: url("../img/pharma_bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 10%;
    transition: all 2s;
    -webkit-transition: all 2s;
}

.img-wrapper0 {
    background: url("../img/trade_bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 15%;
    transition: all 2s;
    -webkit-transition: all 2s;

}

.img-wrapper1 {
    background: url("../img/fabrication_bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 15%;
    transition: all 2s;
    -webkit-transition: all 2s;

}

.img-wrapper2 {
    background: url("../img/motor_bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 10%;
    transition: all 2s;
    -webkit-transition: all 2s;

}

.img-wrapper3 {
    background: url("../img/pharma_bg.png") no-repeat;
    background-position-x: 80%;
    background-position-y: 10%;
    transition: all 2s;
    -webkit-transition: all 2s;

}

.slider {
    display: block;
    position: relative;
    margin: 2em 0 1.5em 0;
}

.slider .slide {
    margin-top: 0em;
    left: 0;
    opacity: 1;
    position: relative;
    border-radius: 4px;
    /*transform: translateX(0);*/
    -webkit-transition: all 2s; /* Safari 3.1 to 6.0 */
    transition: all 2s;

}

.slider .slide p {
    font-family: 'OpenSans-Light';
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 0;
}

.slider .slide h5 {
    font-size: 18px;
    font-family: 'Lato-Bold';
    margin-bottom: .25em;
}

/*.slider .slide > * {*/
/*margin-top: 1rem;*/
/*}*/

.slider .slide .button {
    background-color: white;
    color: #009ce1;
    border-radius: 40px;
    text-align: center;
    display: inline-block;
    padding: .75rem 2em;
    margin-top: 1.5em;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.slider .image {
    flex: .3;
}

.slider-dots-wrap {
    justify-content: space-around;
    margin-left: 1em;
    margin-bottom: .25em;
}

.slider-dots-wrap span {
    width: 10px;
    height: 10px;
    margin-left: 11px;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
}

.slider-dots-wrap span.active-dot {
    background-color: #fff;
}

.services-container {
    display: flex;
    flex: 1;
    margin-top: -1.5em;
    padding-bottom: 1em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #7fc500;
    border-radius: 6px;
    padding: 1rem;
}

.services {
    width: 100%;
    flex: .8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.services-container h3 {
    flex: .2;
    margin: 0 0 .5em 0;
}

.services .items {
    width: 20%;
    text-align: center;
}

.services .items h4 {
    padding: .3em 0;
    margin: 0 0 5px 0;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    position: relative;
}

.services .items h4:after {
    content: "";
    width: 75px;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.30);
}

.services .items h4 + p {
    font-size: 12px;
}

.contact {
    background-color: #f4fcff;
    padding-top: 2em;
}

.contact h2 {
    text-align: center;
    color: #484848;
}

.contact select {
    padding: 1em;
}

.select-container {
    position: relative;
}

.contact .select-arrow {
    position: absolute;
    top: 1em;
    right: 1em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 400px;
    width: 400px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 4em;
}

.contact-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-form select, .contact-form input, .contact-form textarea {
    background-color: white;
    color: #009ce1;
    width: 400px !important;
    border: none;
    border-radius: 4px;
    padding: 1em 2em;
    font-size: 18px;
    box-shadow: 1px 1px 19px 1px rgba(0, 156, 225, 0.2);
    margin-bottom: 2em;
    outline: none;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 200px;
    resize: none;
    align-content: flex-start;
    text-align: left !important;
    vertical-align: top;
    padding: 2em !important;
}

.contact-form .submit-button {
    background-color: #009ce1;
    color: #f4fcff;
    border-radius: 4px;
    text-align: center;
    padding: 1em .5rem;
    box-shadow: 0px 5px 30px 0px rgba(61, 154, 226, 0.18);
}

.footer {
    background-image: url("../img/footer-bg.png");
    background-size: 110%;
    background-position-x: -52px;
    color: darkgray;
    font-size: 14px;
    padding-top: 15em;
}

.footer .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer a {
    color: darkgray;
}

.footer .footer-link1 {
    flex: .33;
}

.footer .footer-link1 .button {
    margin-top: 2em;
    color: #009ce1;
    border: white 1px solid;
    padding: 1em 0;
    text-align: center;
    width: 200px;
    display: block;
    box-shadow: 0px 3px 6px 0px rgba(61, 154, 226, 0.18);
    border-radius: 100px;
}

.footer .footer-link2 {
    flex: .33;
}

.footer .footer-link2 ul {
    padding: 0px;
}

.footer .footer-link2 a {
    text-decoration: none;
}

.footer .footer-link2 li {
    list-style: none;
    padding: 0.5em 0em;
    display: inline-block;
    width: 40%;
}

.footer .footer-link3 {
    flex: .33;
}

.footer h3 {
    color: #1E81CE;
    text-shadow: 0px 3px 6px rgba(61, 154, 226, 0.17);
}

.foot-note {
    margin-top: 2em;
    text-align: center;
    padding-bottom: .5em;
}

.foot-note span {
    color: #e8544a;
}

@media (max-device-width: 769px ) {
    .menu > img {
        width: 30px;
    }
    .menu {
        position: relative;
    }
    .menu > ul {
        display: none;
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        width: 100%;
        max-width: 400px;
        background: #fff;
        padding: .5em .25em;
        border-radius: 4px;
        box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
        z-index: 9;
    }
    .menu > ul:before {
        content: "";
        width: 0;
        border: 8px white solid;
        position: absolute;
        top: -16px;
        right: 8px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
    }
    #contact_form {
        text-align: center;
    }
    .contact .select-arrow {
        top: 1.05em;
        right: 1.75em;
    }
    .content .menu > ul li a {
        color: #777;
        padding: .45em .75em;
        display: block;
    }
    .content .menu > ul > li {
        display: block;
    }
    .menu > img:hover + ul {
        display: block;
    }
    .services-container {
        border-radius: 0;
        box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.15);
    }
    .services .items {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .services {
        display: block;
    }

    .footer .footer-links {
        display: block;
    }

    .sub-menu {
        left: -25%;
        padding: 0 !important;
    }
    header .wrapper .content {
        width: 80%;
        margin: 0 auto;
    }
    header .logo a{
        color:white;
        text-decoration: none;
    }
    header .logo img {
        width: 125px
    }

    header .slider .slide {
        padding: 0;
    }
    .slider-dots-wrap {
        width: 80%;
        margin: 1.25em auto 0;
        text-align: left;
        padding-left: .5em;
    }
    .slider-dots-wrap > span:first-child {
        margin: 0;
    }
    .contact-form {
        width: 90% !important;
    }

    .contact-form select, .contact-form input, .contact-form textarea {
        width: 90% !important;
    }

    .footer {
        background: #fff;
        padding: 3em;
        padding-top: 1em;
        width: 100%;
        margin: 0 auto;
    }
    .footer .footer-links > div {
        padding-bottom: 2em;
        border-bottom: 1px solid #e1f2fc;
    }
    .footer .footer-links > div:last-child {
        border: none;
    }
    .footer-link2 > ul {
        margin-bottom: 0;
    }
    .slider {
        display: block;
        position: relative;
        margin: 0 auto;
        padding-top: 0em;
        background-color: #009ce1;
        width: 80%;
    }

    header .wrapper {
        background-color: #009ce1;

    }
}

/*# sourceMappingURL=index.css.map */
